<div class="container" [ngStyle]="{'background-color': 'cyan'}">
  <h1 >
    {{ title }}
  </h1>


<hr/>

<!--{{ orderForm.value | json }}-->
<!--<br/>-->
<!--Email: {{ orderForm.value.email }}-->
<!--<br/>-->
<!--Data from order model {{ orderModel | json }}-->

<!--<hr/>-->
<!--Is name input valid? {{ name.valid }}-->
<!--<br/>-->
<!--Has name input been visited? {{ name.touched }}-->
<!--<br/>-->
<!--Has name input been changed? {{ name.dirty }}-->
<!--<br/>-->
<!--<hr/>-->
<!--Confirm: {{ confirm_msg }} <br/>-->
<!--Data submitted: {{ data_submitted | json }}-->
<!--<hr/>-->


 <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm.value)">
  <div class="form-group" *ngIf="reviewForm" >
    <label >Special: </label>
    <input  type="text" class="form-control" name="name" placeholder="Special and Restaurant"
           required
           #name="ngModel"
           [class.is-invalid]="name.invalid && name.touched"
           [(ngModel)]="reviewModel.name">
    <small class="text-danger" [class.d-none]="name.valid || name.untouched"></small>
  </div>

  <div class="form-group">
    <label>Review: </label>
    <input type="text" placeholder="Leave your thoughts..." required [(ngModel)]="reviewModel.review"  class="form-control" name="review">
  </div>


  &nbsp;&nbsp;&nbsp;&nbsp;

  <button type="submit" class="btn btn-primary"
          (click)="confirmPost(reviewForm.value)"
          [disabled]="!reviewForm.form.valid"
          title="enabled once the form is valid">Submit</button>

</form>
<h3>Order Confirmation</h3>
Confirm:
  <font color="green" style="font-style:italic">
    <!-- If confirm_msg is not empty, display confirm message, otherwise, display default text -->
    {{ (confirm_msg.length > 0)? confirm_msg : 'Display your confirmation message' }}</font> <br/>
Data submitted:
  <font color="green" style="font-style:italic">
    <!-- If confirm_msg is not empty, display form data that was submitted. -->
    <!-- We don't check the size of data_submitted here since we want to avoid error
         when the page is loaded and form has not been submitted (and data_submitted is an object -- json data).
         Also, we designed our program to set confirm_msg only after the button has been clicked
         (i.e., the form has been submitted). Thus, we can make use of confirm_msg here. -->
    {{ (confirm_msg.length > 0)? (data_submitted | json) : 'Display the submitted order' }}
  </font> <br/>
<hr/>



</div>


<br/><br/><br/>
